/* REMOVING THE DEFAULT STYLINGS FROM THE PAGE AND DEFINING VARIABLES */

:root {
    --displayw: calc(375px/ 1.5);
    --displayh: calc(667px/1.5);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STYLING OUR PAGE AND CENTERING IPHONE*/

body {
 background: linear-gradient(120deg, var(--sublime), var(--light));
 display: flex;
 justify-content: right;
 align-items: center;
 height: 100vh;
 font-family: "Helvetica Neue", sans-serif;
 margin: 25px;
}

/* SETTING IPHONE DIMENSIONS, STYLING IT AND CENTERING IPHONE CHILD ELEMENTS*/

.iphone-wrap {
    background: black;
    width: calc(var(--displayw) * 1.2); 
    height: calc(var(--displayh) * 1.3);
    border: solid 5px grey;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

/* SETTING IPHONE'S SCREEN DIMENSIONS, STYLING IT AND SETTING UP FLEXBOX SO AS TO FIX SCREEN'S HEADER AT THE TOP OF THE SCREEN*/

.iphone-display {
    background: black;
    width: var(--displayw);
    height: var(--displayh);
    color: white;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

/* STYLING HEADER AND DISTRIBUTING HEADER'S CHILD ELEMENTS ACROSS THE MAIN AXIS*/

.iphone-header {
    background: black;
    color: white;
    font-size: 11px;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
}

.clock {
    justify-self: center;
}

.battery {
    justify-self: end;
}

/* STYLING CALCULATOR AND DISTRIBUTING CALCULATOR'S CHILD ELEMENTS USING GRID*/

.calculator {
    background: pink;
    flex: 1; /*To give calculator as much room as possible while fixing screen's header at the top of the screen*/
    display: flex;
    flex-wrap: wrap;
}
