* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 font-family: "Helvetica Neue", sans-serif;
 margin: 25px;
}

.iphone-wrap {
    background: black;
}

.iphone-header {
    background: transparent;
    display: flex;
    color: white;
    justify-content: space-around;
}
.calculator {
    width: calc(375px / 1.5);
    height: calc(667px / 1.5);
    border-radius: 33px;
    color: white;
    padding: 20px;
} 

